.input {
  align-items: center;
  background-color: var(--color-text);
  border-radius: 0.125rem;
  box-shadow: var(--inner-shadow);
  color: var(--color-background);
  cursor: text;
  display: inline flex;
  gap: 0.25rem;
  height: 2.5rem;
  justify-content: center;
  padding-inline: 0.5rem;
}
