.button {
  align-items: center;
  color: #fff;
  background-color: var(--color-blue);
  box-shadow: var(--drop-shadow);
  border-radius: 0.125rem;
  cursor: pointer;
  display: inline flex;
  font-weight: bolder;
  gap: 0.25rem;
  height: 3rem;
  justify-content: center;
  padding-inline: 1rem;
}

.button[disabled] {
  filter: saturate(0%);
}
