.guess {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.guess h1 {
  font-size: 1.25rem;
  font-weight: 900;
  line-height: 1.25;
  text-shadow: var(--outset-shade);
}

.guess ul {
  display: flex;
  flex-direction: column;
}
