.header {
  align-items: center;
  background-color: var(--color-background);
  display: flex;
  height: 4.5rem;
  justify-content: space-between;
  padding-inline: 1rem;
  position: sticky;
  top: 0;
}

.content {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  padding-block-end: 1rem;
}

.footer {
  background-color: var(--color-background);
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-block-end: 1rem;
  position: sticky;
}

.copy {
  font-size: 0.875em;
  text-align: center;
}

.copy a {
  font-weight: bolder;
}

.history {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-inline: 1rem;
  width: 100%;
  height: 100%;
}

.history > li {
  align-items: start;
  display: flex;
  gap: 0.5rem;
}

.number {
  background-color: var(--color-text-dimmed);
  border-radius: 0.125rem;
  color: var(--color-background);
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 2rem;
  text-align: center;
  flex: 0 0 2rem;
}
