.header {
  align-items: center;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.content {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  padding-block-end: 1rem;
}

.footer {
  align-items: center;
  background-color: var(--color-background);
  bottom: 0;
  display: flex;
  flex-direction: column;
  position: sticky;
  z-index: 10;
}

.copy {
  color: var(--color-text-dimmed);
  font-size: 0.75rem;
  padding-block: 1rem;
  text-align: center;
}

.copy a {
  font-weight: bolder;
}
