.control {
  overflow: visible;
  position: relative;
}

.control input {
  width: 100%;
}

.control ul {
  border-radius: 0.125rem;
  bottom: 100%;
  box-shadow: var(--drop-shadow);
  margin-block-end: 0.25rem;
  max-height: calc(5.5 * 3rem);
  overflow: scroll;
  overflow: overlay;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.control li {
  align-items: center;
  background-color: var(--color-background-bright);
  display: flex;
  height: 3rem;
  padding-inline: 0.75rem;
}

.control li span {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.control li:first-child {
  border-radius: 0.125rem 0.125rem 0 0;
}

.control li:last-child {
  border-radius: 0 0 0.125rem 0.125rem;
}

.control li[aria-selected="true"] {
  background-color: var(--color-text-placeholder);
}
