@import "npm:resetize";

html {
  --color-red: hsl(350, 70.2%, 50%);
  --color-green: hsl(140, 59.8%, 40%);
  --color-blue: hsl(200, 90.2%, 40%);
  --color-yellow: hsl(35, 89.8%, 50%);
  --color-shadow: hsla(0, 0%, 0%, 0.3);
  --color-light: hsla(0, 0%, 100%, 0.5);
  --color-background: hsl(240, 11%, 15%);
  --color-background-bright: hsl(240, 10.2%, 24.9%);
  --color-background-red: hsl(346, 48.1%, 36.3%);
  --color-background-green: hsl(145, 45.2%, 26.5%);
  --color-text: hsl(0, 0%, 100%);
  --color-text-placeholder: hsl(240, 5.1%, 50%);
  --color-text-dimmed: hsl(240, 4.7%, 25.1%);
  --color-match-mismatch: hsl(350, 70.2%, 50%);
  --color-match-partial: hsl(35, 89.8%, 50%);
  --color-match-exact: hsl(140, 59.8%, 40%);

  --drop-shadow: 0.125rem 0.125rem 0px rgba(0, 0, 0, 0.3);
  --inner-shadow: inset 0.125rem 0.125rem 0px rgba(0, 0, 0, 0.3);

  background-color: var(--color-background);
  color: var(--color-text);
}

body {
  overflow: overlay;
}

#root {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  max-width: 60rem;
  min-height: 100dvh;
  min-width: 22.5rem;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, 0.3);
  border-radius: 0.5rem;
  background-clip: content-box;
  border: 0.25rem solid transparent;
}

.banner {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  gap: 1.5rem;
  justify-content: center;
}

.banner h1 {
  font-size: 3rem;
}

.banner p {
  text-align: center;
}
